section(data-background-image="./img/png/animusjs.png")
	h3(style="color: #FFF; text-shadow: 0px 0px 17px rgba(0,0,0,1);") AnimusJS
	h5
		a(href="https://github.com/soutomario/animusjs" style="color: white;text-shadow: 0px 0px 17px rgba(0,0,0,1);") https://github.com/soutomario/animusjs




