section
	h2 Dicas Finais
	ul
		li Will Change
		li Propriedades que são possíveis de animar via CSS
			br
			a https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_animated_properties







