section(data-background-image="./img/gifs/flipbook.gif")
	h2(style="color: #FFF; text-shadow: 0px 0px 17px rgba(0,0,0,1);") "Mas no gif eu tinham bem mais frames, como eu chego naquele resultado?"



