section(data-background-image="./img/gifs/comparacao.jpg" data-background-position="center top")
	h3(style="color: #FFF; text-shadow: 0px 0px 17px rgba(0,0,0,1);") Qual a diferença entre esses dois sites?