section
	h3 
		span Skew: 
		| De Volta para o Futuro

	div.example-area
		button.btn.botao09()
			img(src="./img/png/bttf-logo.png" style="border: 0 !important; box-shadow: none !important; background: none !important;")
	
	style
		| .botao09 {
		|    background: none !important;
		|    padding-top: 0;
		| }

	pre
		style(contenteditable="true" style="display: block;")
			| .botao09 {
			|    width: 200px;
			|    height: 100px;
			|    transform: translate(-300px)  skew(30deg); /* skew(deg) */
			|    transition: transform 1s;
			|}
			| .botao09:hover {
			|    transform: translate(0); /* skew(deg) */
			|}