section(data-background-image="./img/gifs/animacao-infinita.gif" data-background-size="contain" data-background-color="#000000")
	h2(style="color: #FFF; text-shadow: 0px 0px 17px rgba(0,0,0,1);") Animações "Automáticas"
	


