section
	h3 Hover

	div.example-area
		button.btn.botao01

	pre
		style(contenteditable="true" style="display: block;")
			| .botao01 {
			|    width: 30%;
			|    padding-top: 30%;
			|    margin: auto;    
			|    background-color: #0288d1;
			|}
			| .botao01:hover {
			|    background-color: #b3e5fc;
			|}