section
	h3 Transition

	div.example-area
		button.btn.botao02

	pre
		style(contenteditable="true" style="display: block;")
			| .botao02 {    
			|    background-color: #0288d1;
			|    transition: ; /* property duration */
			|}
			| .botao02:hover {
			|    background-color: #b3e5fc;
			|}