section
	h3 Scale
		span   + Rotate

	div.example-area
		button.btn.botao08x
	
	style
		| .botao08x {
		|    padding-top: 0;
		| }

	pre
		style(contenteditable="true" style="display: block;")
			| .botao08x {
			|    width: 100px;
			|    height: 100px;
			|    transform: scale(.5); /* rotate(deg) */
			|    transition: transform 1s;
			|}
			| .botao08x:hover {
			|    transform: scale(1); /* rotate(deg) */
			|}