section(data-background-image="./img/gifs/cs.gif")
	h2(style="color: #FFF; text-shadow: 0px 0px 17px rgba(0,0,0,1);") Não é <span style="color: #ff6a00;">F</span>irst <span style="color: #ff6a00;">P</span>erson <span style="color: #ff6a00;">S</span>hooter então, fechem o CS 1.6 ai
	


