section(data-background-image="./img/png/flash-start.png" data-background-size="contain" data-background-color="#000000")
	h3(style="color: #FFF; text-shadow: 0px 0px 17px rgba(0,0,0,1);") Com flash!