section
	h3 Skew: De Volta para o Futuro

	div.example-area
		button.btn.botao08
	
	style
		| .botao08 {
		|    padding-top: 0;
		| }

	pre
		style(contenteditable="true" style="display: block;")
			| .botao08 {
			|    width: 100px;
			|    height: 100px;
			|    transform: translate(-50); /* skew() */
			|    transition: transform 1s;
			|}
			| .botao08:hover {
			|    transform: translate(-50) ; /* skew() */
			|}