section(data-background-image="./img/png/guia-css-animations.png")
	h2(style="color: #FFF; text-shadow: 0px 0px 17px rgba(0,0,0,1);") Dicas Finais
	h4(style="color: #FFF; text-shadow: 0px 0px 17px rgba(0,0,0,1);") Melhor guia de animações em PT-BR:
	h5(style="color: #FFF; text-shadow: 0px 0px 17px rgba(0,0,0,1);") 
		a(href="https://github.com/daliannyvieira/css-animations-pocket-guide" style="color: white;") https://github.com/daliannyvieira/css-animations-pocket-guide





